/* Estilos React Generales */

.navbar {
	display: flex;
	flex-direction: row;
	background-color: #cc0022;
	height: 50px;
	align-content: center;
	justify-content: space-between;
}

.navbarLogo {
	margin: 15px;
	height: 30px;
	width: 30px;
}

.navbarButtons {
	color: white;
	text-decoration: none;
	margin: 10px;
	padding-left: 10px;
}

.navbarButtons:hover {
	color: black;
}

.navbarCart {
	font-size: 20px;
	color: white;
	margin: 15px;
}

.navbarCart:hover {
	color: black;
}
