/* Estilos React Generales */

* {
	font-family: "Poppins", sans-serif;
}
.navbarLogo {
	padding-bottom: 0.3125rem;
	margin-right: 0.5rem;
	font-size: 1.25rem;
	text-decoration: none;
	white-space: nowrap;
}

.cart {
	border: 0;
	background-color: rgb(33, 37, 41);
	color: rgba(255, 255, 255, 0.55);
}

.cart:hover {
	color: white;
}

.count {
	margin: 0 auto;
	display: flex;
	width: 600px;
	justify-content: center;
}

.card {
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.card .container h3 {
	margin-left: 8px;
	height: 4rem;
	font-size: 1.8rem;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardBtn {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	justify-content: center;
}

.cardDetail {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.detailCenter {
	display: flex;
	justify-content: center;
}

.cardDetail {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	height: 80vh;
	overflow-x: none;
	overflow-y: auto;
}

.quantity {
	display: flex;
	width: 10rem;
}

.quantity label {
	border: 1px solid #000;
	height: 45px;
	width: 5rem;
	text-align: center;
}

.quantity button {
	border: 1px solid #000;
	height: 45px;
	width: 3rem;
}

.textoCant {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}

.itemCount {
	display: flex;
	justify-content: center;
}

.btn-carrito {
	font-size: 0.8rem;
	height: 45px;
	width: 10rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cartButton {
	background-color: black;
	color: white;
	margin: 1rem 0.25rem;
	width: 12rem;
	text-decoration-style: discrete;
}
.cartButton:hover {
	color: white;
}

.cart-style {
	color: rgba(255, 255, 255, 0.55);
	font-size: 1.2rem;
}
.cart-style:hover {
	color: white;
}
.cartCant {
	color: rgba(255, 255, 255, 0.55);
	font-size: 1rem;
	font-weight: bold;
	padding-right: 0.5rem;
}

.cartCant:hover {
	color: white;
}
.cartWidget {
	position: relative;
}
.cartWidget:hover {
	cursor: pointer;
	color: white;
}
.card-click {
	position: absolute;
	z-index: 9;
	right: 0;
	width: 102px;
}

.cardCarrito {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
