/* Estilos React Generales */

.navbar {
	display: flex;
	flex-direction: row;
	background-color: #cc0022;
	height: 50px;
	align-content: center;
	justify-content: space-between;
}

.navbarLogo {
	margin: 15px;
	height: 30px;
	width: 30px;
}

.navbarButtons {
	color: white;
	text-decoration: none;
	margin: 10px;
	padding-left: 10px;
}

.navbarButtons:hover {
	color: black;
}

.navbarCart {
	font-size: 20px;
	color: white;
	margin: 15px;
}

.cart {
	border: 0;
	background-color: #cc0022;
	color: white;
}

.cart:hover {
	color: black;
}

.count {
	margin: 0 auto;
	display: flex;
	width: 600px;
	justify-content: center;
}

.card {
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardBtn {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}
